.chat-window{
  margin: 0 auto !important;
  max-width: 360px;
  padding: 1em;
  border: cornflowerblue 1px solid;
  border-radius: 10px;
}
.chat-input{
  margin: 0 auto !important;
  width: 100%;
}
input{
  width: 100%;
}
