<button (click)="salir()" *ngIf="chat.usuario.uid">salir</button>
<div class="chat-window" *ngIf="chat.usuario.uid">
  <div class="chat-window__title">
    <h1>Chat</h1>
    <hr>
  </div>
  <div class="app-mensaje" id="app-mensaje">
    <div class="text-right" *ngFor="let mensaje of chat.chats" [ngClass]="{ 'text-right': chat.usuario.uid == mensaje.uid }">
      <span class="primary badge-primary" [ngClass]="{ 'badge-secondary': chat.usuario.uid == mensaje.uid }">{{mensaje.nombre}}</span>
      <p>{{mensaje.mensaje}}</p>
    </div>
  </div>
  <div class="chat-input">
    <input type="text" name="mensaje" placeholder="Escribir mensaje"
    (keyup.enter)="enviarMensaje(mensajes)"
    [(ngModel)]="mensaje">
  </div>
</div>
<app-login *ngIf="!chat.usuario.uid"></app-login>
